.text{
	/*For better anti-aliasing */
    -fx-font-smoothing-type: gray; 
}

/*  menu buttons */

.menu-button:showing {
  -fx-base:  #bd93f9 ;
}
.menu-button > .arrow-button, .menu-button > .arrow-button > .arrow {
  -fx-padding: 0.0;
}

/* Dialog Pane*/

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color: #282a36;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header *.header-panel {
  -fx-background-color: #282a36;
}

.dialog-pane:header .header-panel .label{
  -fx-font-family: Calibri;
  -fx-background-color: #282a36;
  -fx-text-fill: #ff5555;
  -fx-font-size: 25.0px;
}
.dialog-pane > *.content.label {
   -fx-font-family: Calibri;
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: #282a36;
   -fx-text-fill:#f8f8f2;
   -fx-font-size:22.0px;
}

/**Costumization of Buttons**/
.dialog-pane .button {
   -fx-font-size: 17.0px;
   -fx-border-radius: 10.0px;
   -fx-font-family: Calibri;
   -fx-background-color:#44475a;
   -fx-text-fill:#f8f8f2;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:#6272a4;
  /*-fx-font-weight:bold;*/ 
 }
 
 .dialog-pane > .textField > .container {
  -fx-background-color: #282a36;
}

.dialog-pane {
    -fx-background-color: #282a36;
}


/* Scroll bar*/
.scroll-bar:vertical .thumb {
    -fx-background-color: #44475a;
}

.scroll-pane > .corner {
    -fx-background-color: #44475a;
}

