.text {
    -fx-font-smoothing-type: gray; 
}

/*  setting background color */
.chart {
    -fx-padding: 5px;
    -fx-background-color: #282a36;
}
.chart-content {
    -fx-padding: 0px;
    -fx-background-color: #282a36;
}

/*  setting chart legend */ 
.chart-legend {
   -fx-background-color:  transparent;
}
.chart-legend-item {
    -fx-opacity: 0;
}

/*  Changing color of text elements*/
.chart-title {
  -fx-text-fill: #50fa7b;
  -fx-font-size: 30;
}
 
.axis-label {
  -fx-font-size: 25;
  -fx-font-family: Calibri;
  -fx-text-fill: #50fa7b;
}

/* Setting background color for chart plot */
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #bd93f9;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #bd93f9;
}

/* Setting chart lines color */
.chart-series-line {    
    -fx-stroke-width: 10px;
    -fx-effect: null;
    -fx-stroke: #8be9fd;
    -fx-stroke-type: centered;
}


